<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComicsHub">
        <activity
            android:name=".QuantityActivity"
            android:exported="false" />
        <activity
            android:name=".searchresult"
            android:exported="false"
            android:theme="@style/Theme.ComicsHub" />
        <activity
            android:name=".item_card"
            android:exported="false" />
        <activity
            android:name=".Successfullybuy"
            android:exported="false" />
        <activity
            android:name=".Milktea"
            android:exported="false" />
        <activity
            android:name=".Toast"
            android:exported="false" />
        <activity
            android:name=".adult"
            android:exported="false" />
        <activity
            android:name=".Cold"
            android:exported="false" />
        <activity
            android:name=".Hot"
            android:exported="false" />
        <activity
            android:name=".Iced"
            android:exported="false" />
        <activity
            android:name=".espre"
            android:exported="false" />
        <activity
            android:name=".cup"
            android:exported="false" />
        <activity
            android:name=".sololeveling"
            android:exported="false" />
        <activity
            android:name=".SearchAdapter"
            android:exported="false"
            android:theme="@style/Theme.ComicsHub" />
        <activity
            android:name=".Naruto"
            android:exported="false" />
        <activity
            android:name=".Myprofile"
            android:exported="false" />
        <activity
            android:name=".MyOrder"
            android:exported="false" />
        <activity
            android:name=".Wishlist"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".latte"
            android:exported="false" />
        <activity
            android:name=".misto"
            android:exported="false" />
        <activity
            android:name=".onepiece"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>